.radio-wrapper{
  display: grid;
  grid-template-columns: 50% 50%;

  background-color: var(--input-base);
  border-radius: .5rem;

  &:focus,
  &:hover{
    outline: 1px solid var(--brand-light);
  }
}

.radio-inner{
  margin: .25rem;
  border-radius: .25rem;

  display: flex;
  justify-items: flex-start;
  align-items: center;
  gap: .5rem;

  padding: .25rem;

  position: relative;

  & input,
  & input:focus,
  & input:hover{
    all: unset;
    position: absolute;
    inset: 0;
  }

  & p{
    color: var(--input-placeholder);
  }

  &:hover, &:focus-within{
    background-color: var(--input-stroke);
    border-radius: .25rem;
  }

  &:has(:checked){
    background-color: var(--input-stroke);
    & p{
      color: var(--text-heading);
    }

    & svg{
      stroke: var(--brand-light);
      background-color: var(--input-stroke);
    }
  }

}

.radio-wrapper-color{
  display: flex;
  gap: .75rem;

  & .radio-inner-color{
    width: 2.5rem;
    height: 2.5rem;
    border: .375rem solid var(--shape-button);
    border-radius: 999px;

    position: relative;

    & input{
      all: unset;
      position: absolute;
      inset: 0;

      justify-self: center;
      align-self: center;

      outline: none;
      width: 1.75rem;
      height: 1.75rem;
      border-radius: 999px;

      appearance: none;

      &.brand-light{
        background-color: var(--brand-light);
      }
      
      &.danger{
        background-color: var(--danger);
      }
      
      &.purple {
        background-color: var(--purple);
      }
      
      &.fuschia {
        background-color: var(--fuschia);
      }
      
      &.pink {
        background-color: var(--pink);
      }
      
      &.orange {
        background-color: var(--orange);
      }
      
      &.yellow {
        background-color: var(--yellow);
      }
      
      &.lime {
        background-color: var(--lime);
      }
      
      &.green {
        background-color: var(--green);
      }
      
      &.cyan {
        background-color: var(--cyan);
      }
      
      &.navy {
        background-color: var(--navy);
      }
    }

    &:focus,
    &:hover{
      border: .375rem solid var(--shape-hover);
    }

    &:has(:checked){
      outline: 2px solid var(--brand-light);
    }
  }
}

.radio-wrapper-theme{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem;

  .radio-inner-theme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    background-color: var(--shape-button);
    border-radius: .5rem;
    padding: .25rem .25rem;

    position: relative;

    & input{
      all: unset;
      inset: 0;
      position: absolute;
    }

    & img{
      border-radius: .25rem;
      object-fit: cover;
      aspect-ratio: 2/1;
    }

    &:focus,
    &:hover{
      background-color: var(--shape-hover);
    }

    &:has(:checked){
      outline: 2px solid var(--brand-light);
    }
  }
}

.radio-wrapper-toggle{
  display: flex;
  width: 4rem;
  height: 2rem;

  margin-top: .5rem;

  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: 999px;

  & .radio-inner-toggle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: .25rem;

    & input{
      all: unset;

      width: 1.5rem;
      height: 1.5rem;

      border-radius: 999px;
    }

    & .dark{
      background-color: var(--input-stroke);
    }

    &:has(input:checked) .dark{
      background-color: var(--input-stroke);

      & span{
        content: "Escuro";
      }
    }

    &:has(input:checked) .light{
      background-color: var(--text-heading);
    }

  }

  &:has(input.light:checked){
    background-color: var(--brand-light);

    & .radio-inner-toggle .dark {
      background-color: transparent;
    }

    & .span-light{
      display: inline-block;
    }

    & .span-dark{
      display: none;
    }
  }

  & .span-light{
    display: none;
  }

  & span{
    display: inline-block;
    margin-block: auto;
    margin-left: .75rem;

    font: var(--text-sm);
    color: var(--text-heading);
  }

}