
.file-wrapper{
  display: flex;
  align-items: center;
}
.file{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .5rem;

  border-radius: .5rem;
  background-color: var(--shape-button);

  width: 7.5rem;
  height: 3rem;
  padding: .75rem;

  position: relative;

  & input[type="file"]{
    all: unset;
    position: absolute;
    inset: 0;
    opacity: 0;
  }

  & svg{
    width: 1rem;
    height: 1rem;

    stroke: var(--brand-light);
  }
}