fieldset{
  display: grid;
  gap: 1rem;
  border: none;
  margin-top: 2.5rem;

  & legend{
    display: flex;
    align-items: center;
    gap: .75rem;
    margin-bottom: 1.5rem;
  }

  & svg{
    width: 1.5rem;
    stroke: var(--input-placeholder);
  }
}