#app{
  display: grid;
  grid-template-columns: 32.7% 67.3%;
  gap: 1.25rem;
  margin: 1.25rem;

  height: 100vh;
  overflow: hidden;
}

aside{
  background-image: url(../assets/Background.png);
  background-size: cover;
  border-radius: .75rem;
  padding: 2rem 2rem;
  max-height: 43rem;

  background-color: var(--shape-body);

  & .aside-container{
    max-width: 25rem;
  }

  & img{
    width: 3rem;
    height: 3rem;
  }

  & h1{
    margin-block: 1rem .25rem;
  }
}

main{
  padding: 5rem 8.125rem;
  border-radius: .75rem;
  overflow: auto;

  background-color: var(--shape-body);

  & .main-container{
    max-width: 50rem;
  }
}